# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://durgaprasadu616_db_user:xHCfsdVBQ2PMHhe6@cluster0.bpjfls7.mongodb.net/?appName=Cluster0

# Authentication
JWT_SECRET=6BZ0nx9YH4a2j6Vy90OaRrlXPfC7JehHvloD2y7je7o
JWT_EXPIRES_IN=7d

# Client URL
CLIENT_URL=http://localhost:5173

# File Uploads
UPLOAD_DIR=./uploads
